<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>transaction made successfully</title>
</head>
<body bg="#f2f7ee">
<br/>
<br/>
<br/>
<br/>
<center>
<img align="middle" src="../static/img/final.png" height="300" width="300"/>
<br/>
<h3>Congratulations, Your transaction Done Successfully</h3>
</center>
<form action="/home">
<center><button class="btn btn-primary">Go To Home</button></center>
</form>
</body>
</html>
