<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style type="text/css">
	hr.style18 { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}
	
</style>
</head>
  <body style="background-color: white;">
  <div style="text-align: center;font-size: 60;">PROFILE</div>
  	<div class="row">
  		<center><div class="col-md-6">
  			<img src="../static/img/profile.png" class="img-circle" />
  		</div></center>
  		<center><div class="col-md-6">
  		<div class="row">
  			<div class="col-md-6">
  				<h1>User Name :</h1>
  			</div>
  			<div class="col-md-6">
  				<h1>{{ username }}</h1>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-md-6">
  				<h1>Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</h1>
  			</div>
  			<div class="col-md-6">
  				<h1>{{ email }}</h1>
  			</div>
  		</div>
   		</div>
   		</center>
  	</div>
<br>
<hr class="style18">
    <div style="text-align: center;font-size: 40;">Booking History</div><br />
    <table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Movies</th>
      <th>Theatres</th>
      <th>Time Of Booking</th>
      <th>Date Of Booking</th>
      <th>Seats</th>
      <th>Show Timings</th>
    </tr>
  </thead>
  <tbody id="tbody">
  {% for i in arr %}
  	<tr>
      <th scope="row">{{ i.id }}</th>
      <td>{{ i.Movie_Name }}</td>
      <td>{{ i.Theatre_Name }}</td>
      <td>{{ i.Time }}</td>
      <td>{{ i.Date }}</td>
      <td>{{ i.Seats }}</td>
      <td>{{ i.Show_Time }}</td>
    </tr>
   {% endfor %}
  </tbody>
  </table>
  </body>
  </html>
